<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/add-dorm/"> Add Dorm </a> 

    </div>
    <div class="card-body">
        <h1>Dorms List</h1>
       <table class="table">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Location</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr class="info-dorms"*ngFor="let dorm of Dorms; let iControl=index">
                   <td>{{dorm.id}}</td>
                   <td>{{dorm.name}}</td>
                   <td>{{dorm.location}}</td>
                   <td>
                       <a class="btn btn-info" role="button" routerLink="/edit-dorm/{{dorm.id}}"> Edit </a> |

                       <a class="btn btn-danger" (click)="deleteDorm(dorm.id,iControl)" role="button"> Delete </a>  
                    </td>
               </tr>
           </tbody>
       </table>
        
    </div>
</div>