<p>add-event works!</p>
<div class="card">
    <div class="card-header">
        Edit Event
    </div>
    <div class="card-body">
        
        <form action="">

            <div class="mb-3">
              <label for="" class="form-label">Name:</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Write the name of the Event">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>