<div class="container text-center main-form" height=100%>
    <div class="card" style="width: 40rem;">
        <form class="form-signin animated fadeIn fast">

            <div class="box">
                <label for="name">Name</label>
                <div>
                    <input type="name" name="name" class="form-control" placeholder="Type your name" required>
                    <br>
                </div>
            </div>
            <div class="box">
                <label for="name">Apellido</label>
                <div>
                    <input type="name" name="apellido" class="form-control" placeholder="Type your apellido" required>
                    <br>
                </div>
            </div>
            <div class="box">
                <label for="username">Username</label>
                <div>
                    <input type="text" name="username" class="form-control" placeholder="Text your Username" required>
                    <br>
                </div>
            </div>
            <div class="box">
                <label for="email">Email</label>
                <div>
                    <input type="email" name="email" class="form-control" placeholder="Type yor email" required>
                    <!--autofocus para pedir @-->
                    <br>
                </div>
            </div>
            <div class="box">
                <label for="password">Password</label>
                <div>
                    <input type="password" name="password" class="form-control" placeholder="Text your Password"
                        required>
                    <br>
                </div>
            </div>

            <button type="submit" name="button" class="btn btn-outline-primary btn-block" routerLinkActive="active">
                <a routerLink="/login">Register</a>
            </button>
            <br>

            <p class="mt-5 mb-3 text-muted">&copy; Tomas&Efrain {{year}}</p>

        </form>
    </div>
</div>