<div class="container">
    <div class="card">
        <h1 class="h3 mb-3 font-weight-normal">REGISTRATION</h1>
        <form ngNativeValidate [formGroup]="usersForm" (ngSubmit)="sendData()">

            <!--Input of name-->
            <div class="box">
                <label for="" class="form-label">Name:</label>
                <div>
                    <input required type="text" class="form-control" name="" formControlName="name" id=""
                        aria-describedby="helpId" placeholder="Write your Username">
                    <br>
                </div>
            </div>

            <!--Input of password-->
            <div class="box">
                <label for="" class="form-label">Password:</label>
                <div>
                    <input required type="password" class="form-control" name="" formControlName="password" id=""
                        aria-describedby="helpId" placeholder="Write a security password">
                    <br>
                </div>
            </div>

            <!--Input of email-->
            <div class="box">
                <label for="" class="form-label">Email:</label>
                <div>
                    <input required type="email" class="form-control" name="" formControlName="email" id=""
                        aria-describedby="helpId" placeholder="Write your email">
                    <br>
                </div>
            </div>
            
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Add</button>
                <button type="button" routerLink="/main/" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>