<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * *BEGGINING COMPONENT* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
	<head>
		<title>Party Mus: The best web for Parties</title>
	</head>
	<body>
    <!--<main></main>-->
		<nav class="navbar navbar-expand navbar-light bg-light" id="myTab" role="tablist">
			<div class="nav navbar-nav">
				<a class="nav-item nav-link active" href="#"> System <span class="visually-hidden"></span>
				</a>
				<div class="party-manager">
					<a class="nav-item nav-link" routerLink="list-event">Events</a>
					<a class="nav-item nav-link" routerLink="list-dorm">Dorms</a>
					<a class="nav-item nav-link" routerLink="list-user">Users</a>
				</div>

				<div class="users">
					<a class="nav-item nav-link" routerLink="#">Events</a>
					<a class="nav-item nav-link" routerLink="#">Dorms</a>
				</div>
				




				<a class="nav-item nav-link" routerLink="register-user">Registration</a>
			</div>
		</nav>
		<div class="container">
			<router-outlet></router-outlet>
		</div>
	</body>
</html>
