<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * *BEGGINING COMPONENT* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>

	<head>
		<title>Party Mus: The best web for Parties</title>
	</head>
	<body>
    <!--<main></main>-->
		<nav class="navbar navbar-expand navbar-light bg-light" id="myTab" role="tablist">

			<a class="nav-item nav-link active" href="#"> Partymus✨<span class="visually-hidden"></span></a>
			
			<a class="nav-item nav-link" *ngIf="logoutbtn" routerLink="list-event">Events</a>
			<a class="nav-item nav-link" *ngIf="logoutbtn" routerLink="list-dorm">Dorms</a>
			<a class="nav-item nav-link" *ngIf="logoutbtn" routerLink="list-user">Users</a>	
			<a class="nav-item nav-link" *ngIf="loginbtn" routerLink="list-events-user">Events</a>	
			<a class="nav-item nav-link" *ngIf="loginbtn" routerLink="list-dorms-user">Dorms</a>
			
			<div class="nav navbar-nav">
								
				<a class="login-btn" *ngIf="logoutbtn" class="btn btn-outline-secondary" (click)="logout()">logout</a>
				<a class="login-btn" *ngIf="loginbtn" class="btn btn-outline-secondary" routerLink="login">Login</a>
				<a class="register-btn" *ngIf="loginbtn" class="btn btn-outline-secondary" routerLink="register-user">Register</a>
			</div>
		</nav>
		<div>
			<h2 *ngIf="logoutbtn" style="color:white" style="margin-left: 10px;">Bienvenido, admin</h2>
		</div>
		<div class="container">
			<router-outlet></router-outlet>

		</div>
	</nav>
	<div>
		<p *ngIf="logoutbtn">->Bienvenido, admin</p>
	</div>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</body>

</html>