

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Nav tabs -->
<div class="card">
    <button type="button" class="btn btn-profile " aria-pressed="true" routerLink="/sesion">
        <div class="icon">
            <i class="fas fa-id-badge"></i>
        </div>
        <h4>PROFILE</h4>
        <p>Click to go to your own profile, you have to be logged first.</p>
    </button>
    <br><br>
</div>

<div class="card">
    <button type="button" class="btn btn-event " aria-pressed="true" routerLink="/list-events-user/">
        <div class="icon">
            <i class="fas fa-envelope"></i>
        </div>
        <h4>EVENTS</h4>
        <p>Click to see the events u have to be registred to get listed on them.</p>
    </button>
    <br><br>
</div>

<div class="card">
    <button type="button" class="btn btn-dorm" aria-pressed="true" routerLink="/list-dorms-user/">
        <div class="icon">
            <i class="fas fa-bed"></i>
        </div>
        <h4>DORMS</h4>
        <p>Click to see the Dorms registred in Partymus, find yours!</p>
    </button>
    <br><br>
</div>

