
<!-- Nav tabs -->

<div class="card">
    <button type="button" class="btn btn-profile " aria-pressed="true" routerLink="/sesion">
        <div class="icon">
            <i class="fas fa-id-badge"></i>
        </div>
        <h4>PROFILE</h4>
        <p>Click to go to your own profile, you have to be logged first.</p>
    </button>
    <br><br>
</div>

<div class="card">
    <button type="button" class="btn btn-event " aria-pressed="true" routerLink="/list-event">
        <div class="icon">
            <i class="fas fa-id-badge"></i>
        </div>
        <h4>EVENTS</h4>
        <p>Click to see the events u have to be registred to get listed on them.</p>
    </button>
    <br><br>
</div>

<div class="card">
    <button type="button" class="btn btn-dorm" aria-pressed="true" routerLink="/list-dorm">
        <div class="icon">
            <i class="fas fa-heart"></i>
        </div>
        <h4>DORMS</h4>
        <p>Click to see the Dorms registred in Partymus, find yours!</p>
    </button>
    <br><br>
</div>

