
.header{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(133, 133, 133);
}


.info-user{
    text-align: left;

}
 
.btn{
    width: 15%;
    height: 40px;
    border:none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom, #467092, #1c2d50);
    transition: all .4s;
}

.btn a{
    text-decoration: none;
    color: white;
}

