<p>main works!</p>
<!--
<h2>{{hero}}</h2>

<p>We are going to show the test User</p>
<h2>{{test.name | uppercase }} Details</h2>
<div><span>id: </span>{{test.id}}</div>
<div><span>name: </span>{{test.name}}</div>



<ul>
    <li>
        <span>{{test.name}}</span>{{test.id}}
    </li>
</ul>

-->

<!-- Nav tabs -->
<button type="button" class="btn btn-primary btn-lg btn-block " aria-pressed="true" routerLink="/list-event">Events</button>
<br><br>
<button type="button" class="btn btn-primary btn-lg btn-block" aria-pressed="true" routerLink="/list-dorm">Dorms</button>

<ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
    </li>
</ul>