<div class="container text-center main-form" height=100%>
    <div class="card" style="width: 40rem;">
        <form class="form-signin animated fadeIn fast">
          <!--  <img class="mb-4" width="110" height="150" alt="No Image"> -->
            <h1 class="h3 mb-3 font-weight-normal">LOG IN</h1>
            <br>

            <label for="text">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Write your Username" required>
            <br>

            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Type your password">
            <br>

            <div class="checkbox mb-3">
                <label for="sesion">
                    <input type="checkbox" name="remember" value="remember-me"> Remember users name
                </label>
            </div>

            <button type="submit" name="button" class="btn btn-outline-primary btn-block" routerLinkActive="active">
                <a routerLink="/add-event">Get in</a>
            </button>

            <label for="user" class="user">
                <a routerLink="/register-user">Register</a>
            </label>

            <p class="mt 5- mb-3 text-muted"> &copy; {{year}}</p>

        </form>
    </div>
</div>