<div class="card">
    <div class="card-header">
        Events
    </div>
    <div class="card-body">
       <table class="table">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>9</td>
                   <td>CityWall</td>
                   <td>
                       <a routerLink="/edit-event/1"> Edit</a>| Delete 
                    </td>
               </tr>
           </tbody>
       </table>
        
    </div>
</div>
