<div class="card">
    <div class="card-header">
        <a class="btn btn-success" routerLink="/add-event/"> Add Event </a> 

    </div>
    <div class="card-body">
        <h1>Events List</h1>
       <table class="table">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let event of Events; let iControl=index">
                   <td>{{event.id}}</td>
                   <td>{{event.name}}</td>
                   <td>
                       <a class="btn btn-info" role="button" routerLink="/edit-event/{{event.id}}"> Edit </a> |

                       <a class="btn btn-danger" (click)="deleteEvent(event.id,iControl)" role="button"> Delete </a>  
                    </td>
               </tr>
           </tbody>
       </table>
        
    </div>
</div>
